.navbar-brand img {
    height:50px !important;
    width:80px !important;
}

.nav-item {
    color:black !important;
    padding:10px;
}

ul li a  {
    color:black !important;
    /* font-weight:bold !important; */
    transition:0.4s;
}

ul li a:hover {
    color:white !important;
    background-color: green;
    border-radius : 10px;
}
.dropdown-menu a:hover {
    color:white !important;
    background-color: green;
}
/* Author section css starts here */

.author-heading {
 color :rgb(6, 141, 13);
 font-weight :700;
 font-size:30px;
 text-align:center;
 margin-top : 40px;
 margin-bottom:40px;
}

.author-form {
    margin : 0px 150px 0px 150px;
}

/* Author section css ends here  */