.navbar-brand img {
    height:50px !important;
    width:80px !important;
}
ul li {
    list-style: none;
}
ul li a {
    /* color : green; */
    font-weight : bold;
    display: block;
    /* margin-top:10px;
    padding:10px; */
    /* border-radius:10px; */

    transition: 0.4s;
 
} 
 ul li a:hover {
    color:rgb(226, 11, 11) !important;
    /* border-radius:10px; */
    /* border:2px solid green; */
} 
.nav-class {
    background-color:#e5eee9 !important;
    font-size: 16px;
}
/* Author section css starts here */

/* .author-heading {
    color :rgb(6, 141, 13);
    font-weight :700;
    font-size:30px;
    text-align:center;
    margin-top : 40px;
    margin-bottom:40px;
   }
   .author-form {
       margin:50 auto;
   } */
   /* Author section css ends here  */