.jumbotron {
    background-color: rgb(254 254 254 / 80%) !important;
}
.jumbotron h5 {
    font-weight:bold !important;
    font-size:20px;
}
.jumbotron p {
    font-size : 16px;
}
.jumbotron a {
    font-size:16px;
}
body {
    background-color: #fefefe !important
}

