
.jumbotron {
    background-color: rgb(254 254 254 / 80%) !important;
}
.jumbotron h5 {
    font-weight:bold !important;
    font-size:20px;
}
.jumbotron p {
    font-size : 16px;
}
.jumbotron a {
    font-size:16px;
}
body {
    background-color: #fefefe !important;
}

.form-admin{
    border: 1px solid #78777780;
    padding:30px;
    width: 60%; 
    border-radius: 5px;
}

button{
    border: none;
    border-radius:3px;
    margin-top:25px;

}
img{
    height: 50px;
}
.logo-container {
    
    width: 50px;
        
    margin: 0 auto;
    }
@media screen and (max-width: 992px) {
    .form-admin{
        border: 1px solid #78777780;
        padding:30px;
        width: 100%;
        border-radius: 5px;
        margin:0 auto !important;
    }
    .chngpass{
        margin: 50px 0 !important;
    }
  }